@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  width: .3rem;
  padding: 0 .1rem;
}
::-webkit-scrollbar-track{
  background-color: none;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(104, 97, 97, 0.49);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(232, 231, 231, 0.507);
}


* {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgba(15, 15, 15);
}

.gradient {
    background: radial-gradient(
        circle farthest-corner at 35% 90%,
        #eba93b,
        transparent 50%
      ),
      radial-gradient(circle farthest-corner at 0 140%, #eba93b, transparent 50%),
      radial-gradient(ellipse farthest-corner at 0 -25%, #373ecc, transparent 50%),
      radial-gradient(
        ellipse farthest-corner at 20% -50%,
        #373ecc,
        transparent 50%
      ),
      radial-gradient(ellipse farthest-corner at 100% 0, #7c26bd, transparent 50%),
      radial-gradient(
        ellipse farthest-corner at 60% -20%,
        #7c26bd,
        transparent 50%
      ),
      radial-gradient(ellipse farthest-corner at 100% 100%, #de1d71, transparent),
      linear-gradient(
        #5244c7,
        #c72893 30%,
        #de2c4f 50%,
        #f06826 70%,
        #f2b657 100%
      );
  
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }